.formDiv{
    background-color: white;
    margin: 50px auto !important;
    height: 480px;
    width: 700px;
    border-radius: 30px;
}
*{
    /* border: 1px solid grey; */
}
.row{
    margin: 25px;
}
#standard-basic{
    width: 260px !important;
  
}

.submitButton{
    background-color: #ff6d6d !important;
    border-radius: 25px !important;
    margin: 10px !important;
}